main
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #000;
}

header
{
	padding: 10px 100px;
	box-sizing: border-box;
}

header img
{
	width: 5%;
	height: 5%;
}

header h1
{
	float: right;
	font-size: 4em;
	margin: 0;
	padding: 0 0 20px;
	color: #fff;

}
section
{
	width: 100%;
	height: 100vh;

}

section.sec1
{
	background: url(https://pro2-bar-s3-cdn-cf.myportfolio.com/a6eff65d9c1a3231d39236064bf4c7ca/bc08456a-4b60-4c9c-850f-6f58ff87b3ca_rw_1920.JPG?h=38625c457921e176a3a43182dd5ca704);
	background-size: cover;	
}

section.sec2
{
	padding: 100px;
	box-sizing: border-box;
	height: auto;
}

section.sec2 h2
{
	font-size: 3em;
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
}

section.sec2 p
{
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	color: #fff;
}

section.sec3
{
	background: url(https://pro2-bar-s3-cdn-cf3.myportfolio.com/a6eff65d9c1a3231d39236064bf4c7ca/ecc75714-32e3-4ae9-b597-90d9f191aebf_rw_1920.JPG?h=f8ecd088c968e06ab6c8949710800b39);
	background-size: cover;	
}

nav
{
	min-width: 480px
	width: 100%;
	height: 50px;
	background: rgb(0, 0, 0, .8);
	border-top: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	position: sticky;
	top: 0;


}

nav ul 
{
	display: flex;
	margin: 0;
	padding: 0 100px;
	float: right;
}

nav ul li
{
	list-style: none; 
}

nav ul li a 
{
	display: block;
	color: #fff;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active
{
	background: #0800FF;


}

footer
{
	width: 100%;
	height: 50px;
	background: #fff;
	border-top: 3px solid #000;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	position: sticky;
	top: 0;


}

footer ul 
{
	display: flex;
	margin: 0;
	padding-left: : 10px;
	padding-top: 10px;
}

footer ul li 
{
	list-style: none; 
	display: block;
	padding: 0 0 0 60px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}

footer ul li img 
{
	width: 35px;
	height:35px;
}